* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
  }
  
  a {
    color: #262626;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
  
  
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
  }
  
  .main-nav .logo {
    width: 110px;
  }
  
  .main-nav ul {
    display: flex;
  }
  
  .main-nav ul li {
    padding: 0 10px;
  }
  
  .main-nav ul li a {
    padding-bottom: 2px;
  }
  
  .main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
  }
  
  .main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
  }
  
  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
  }
  
  .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .dark {
    color: #fff;
  }
  
  .dark .btn {
    background: #f4f4f4;
    color: #333;
  }
  
  
  .showcase {
    width: 100%;
    height: 400px;
    background: url('showcase.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
   padding-left: 20px;
    
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  
  .showcase h2{    
    margin-bottom: 10px;
    font-size: 3em;
  }
  .showcase p {
    margin-bottom: 10px;
  }
  
  .showcase .btn {
    padding-left: 20px;
    margin-top: 20px;
  }
  .ayush a{
    color:rgb(107, 107, 250);

  }
  .ayush a:hover{
    color:rgb(255, 96, 96);
  }
  
  
  .home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
  }
  
  .home-cards img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .home-cards h3 {
    margin-bottom: 5px;
  }
  
  .home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .home-cards a:hover i {
    margin-left: 10px;
  }
  
  /* Xbox */
  .xbox {
    width: 100%;
    height: 30em;
    background: url('exp.jpg') no-repeat center center/cover;
    margin-bottom: 20px;
    padding-left: 4em;
    padding-top: 8em;;
  }
  .xbox .card{
    
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: #f2f2f2;
        width : 23em;
        height : 15em;
        align-items: center;
      } 
  
  

 
  
  .follow * {
    margin-right: 10px;
  }
  
  /* Links */
  .links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
  }
  
  .links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .links li {
    line-height: 2.8;
  }
  
  /* Footer */
  .footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
  }
  
  .footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .footer div i {
    margin-right: 10px;
  }
  
  .footer ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer li {
    margin-right: 30px;
    margin-bottom: 20px;
  }
  
  @media(max-width: 700px) {
    .menu-btn {
      display: block;
    }
  
    .menu-btn:hover {
      opacity: 0.5;
    }
  
    .main-nav ul.right-menu {
      margin-right: 50px;
    }
  
    .main-nav ul.main-menu {
      display: block;
      position: absolute;
      top:0;
      left: 0;
      background: #f2f2f2;
      width: 50%;
      height: 100%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
    }
  
    .main-nav ul.main-menu li {
      padding: 10px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }
  
    .main-nav ul.main-menu li:last-child {
      border-bottom: 0;
    }
  
    .main-nav ul.main-menu.show {
      transform: translateX(-20px);
    }
  
    .home-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .xbox .content p {
      display: none;
    }
  
    .xbox .content h2 {
      margin-bottom: 20px;
    }
  
    .carbon .content {
      width: 85%;
    }
  
    .links .links-inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media(max-width: 500px) {
    .home-cards {
      grid-template-columns: 1fr;
    }
  
    .links .links-inner {
      grid-template-columns: 1fr;
    }
  
    .links .links-inner ul {
      margin-bottom: 20px;
    }
  }